@font-face {
	font-family: 'PixelArtController';
	src:url('fonts/PixelArtController.eot?4p7bmg');
	src:url('fonts/PixelArtController.eot?4p7bmg#iefix') format('embedded-opentype'),
		url('fonts/PixelArtController.ttf?4p7bmg') format('truetype'),
		url('fonts/PixelArtController.woff?4p7bmg') format('woff'),
		url('fonts/PixelArtController.svg?4p7bmg#PixelArtController') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'PixelArtController';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nes:before {
	content: "\e800";
}
.icon-snes:before {
	content: "\e801";
}
.icon-n64:before {
	content: "\e802";
}
.icon-psone:before {
	content: "\e803";
}
.icon-dreamcast:before {
	content: "\e804";
}
.icon-gcube:before {
	content: "\e805";
}
.icon-xbox:before {
	content: "\e806";
}

